<!DOCTTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> Welcome to cat rentals, <%=@user.username%> </h1>
    <p> Congrats on signing up. You can now adopt cats. </p>

    <p> Your username is: <%=@user.username%>.</p>
    <p> To login just follow this link: <%=@url%>.</p>
  </body>
</html>
