// Place all the styles related to the Bands controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

li{
  font-size: 25px;
  font-family: cursive;
  font-weight: bold;
  border-radius: 20px;
  padding: 5px;

}

a {
  color: blue;
  font-style: oblique;
  text-decoration: none;
}

h2 {
  font-size: 30px;
}
